<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casdastro Cliente</title>
    <link rel="stylesheet" href="../css/CadastroCliente.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
    <div class="containerCliente">
       <div class="cadastro">
        <div class="logo">
            <div class="imgLogo">
                <a href="home3.html"><img src="../imgs/seta.png" alt="" id="seta"></a>
            <img src="../imgs/logo1.png" alt="Logo" id="logo">
            </div>
          <div class="span_titulo">  
            <span>Cadastro</span> 
            <span>de</span>
             <span> Cliente</span>
        </div>
           
        </div>

        <div class="cadastroCliente">
            <form action="" method="post" class="formCliente">
                <input type="text" name="nomeCliente" id="" class="inputCliente" placeholder="Nome completo:">
                <input type="number" name="cpfCliente" id="" class="inputCliente" placeholder="CPF:">
                <input type="number" name="Telefone" id=""class="inputCliente" placeholder="Telefone:"> 
                <input type="email" name="E-mailCliente" class="inputCliente" id="" placeholder="E-mail:">
                <input type="text" name="cidade" id="" class="inputCliente" placeholder="Cidade:">
                <input type="text" name="RuaCliente"  class="inputCliente"id="" placeholder="Rua:">
                <input type="text" name="NumeroCliente"  class="inputClienteMenor"id=" " placeholder="Nº:">
                <input type="text" name="CepCliente"  class="inputClienteMenor" id=" inputClienteMenor" placeholder="Cep:">
                <input type="text" name="BairroCliente" class="inputCliente" id="" placeholder="Bairro:">
                <button class="btnSalvarCliente">Salvar</button>
            </form>   
        </div>
       </div>
    </div>
</body>
</html>