<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casdastro Maquinas</title>
</head>
<body>
    <div class="containerMaquina">
        <div class="logo">

        </div>

        <div class="cadastroMaquina">
            
        </div>
    </div>
</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casdastro Cliente</title>
    <link rel="stylesheet" href="../css/CadastroCliente.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>
    <div class="containerCliente">
       <div class="cadastro">
        <div class="logo">
            <div class="imgLogo">
            <a href="home3.html"><img src="../imgs/seta.png" alt="" id="seta"></a>
            <img src="../imgs/logo1.png" alt="Logo" id="logo">
            </div>
          <div class="span_titulo">  
            <span>Cadastro</span> 
            <span>de</span>
             <span> Máquina
             </span>
        </div>
           
        </div>

        <div class="cadastroCliente">
            <form action="" method="post" class="formCliente">
                <input type="text" name="marca" id="" class="inputCliente" placeholder="Marca:">
                <input type="text" name="Modelo" id="" class="inputCliente" placeholder="Modelo:">
                <input type="number" name="numerodeSerie" id=""class="inputCliente" placeholder="Nº de série:"> 
                <input type="text" name="motivoManutencao" class="inputCliente" id="" placeholder="Motivo da manutenção:">
                <input type="text" name="Valortotal"  class="inputCliente"id="" placeholder="Valor do orçamento:">
                <textarea name="" id="" cols="30" rows="10" placeholder="Descrição:" class="inputClientetex"></textarea>
                <button class="btnSalvarCliente">Salvar</button>
            </form>   
        </div>
       </div>
    </div>
</body>
</html>