<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../css/home3.css">
  <title>Home InfoHub</title>
</head>

<body>
  <div class="container_Home">
    <header>

      <nav class="navigation">
        <a href="home3.html" class="logo"><img src="../imgs/img/infohub_logo_azul_claro.png" alt="Logo InfoHub"></a>

        <ul class="nav-menu">
          <li class="nav-item"><a href="listaCliente.html"><i class='bx bx-user'></i> Clientes</a></li>
          <li class="nav-item"><a href="ListagemCadastroMaquina.html"><i class='bx bx-cog'></i> Máquinas</a></li>
          <li class="nav-item"><a href="#"><i class='bx bx-briefcase'></i> Serviços</a></li>
          <li class="nav-item"><a href="#"><i class='bx bx-spreadsheet'></i> Relatório</a></li>
          <li class="nav-item"><a href="#"><i class='bx bx-calendar'></i> Calendário</a></li>
          <li class="nav-item"><a href="index.html"><i class='bx bx-calendar'></i> Sair</a></li>
        </ul>
        <div class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <main>
      <section class="home">
        <div class="home-image">
          <img src="../imgs/img/home/Rectangle4.png" alt="">
        </div>
        <div class="home-text">
          <h1>Agradecemos a preferência!</h1>
        </div>
      </section>
    </main>



  </div>
  <script src="../js/home3.js"></script>
</body>

</html>