<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <title>Lista InfoHub</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/listagem.css">
</head>

<body>
  <header>
    <nav class="navigation">
      <a href="home3.html" class="logo"><img src="../imgs/img/infohub_logo_azul_claro.png" alt="Logo InfoHub"></a>
      <ul class="nav-menu">
        <li class="nav-item"><a href="listaCliente.html"><i class='bx bx-user'></i> Clientes</a></li>
        <li class="nav-item"><a href="ListagemCadastroMaquina.html"><i class='bx bx-cog'></i> Máquinas</a></li>
        <li class="nav-item"><a href="#"><i class='bx bx-briefcase'></i> Serviços</a></li>
        <li class="nav-item"><a href="#"><i class='bx bx-spreadsheet'></i> Relatório</a></li>
        <li class="nav-item"><a href="#"><i class='bx bx-calendar'></i> Calendário</a></li>
        <li class="nav-item"><a href="index.html"><i class='bx bx-calendar'></i> Sair</a></li>
      </ul>
      <div class="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>

  <div class="margin-top">
    <a href="cadastroMaquina.html"><button class="btnCadastro">Cadastrar Maquina</button></a>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">N° de série</th>
          <th scope="col">Motivo da manutenção</th>
          <th scope="col">Valor do orçamento</th>
          <th scope="col">Descrição</th>
  
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>68566 full</td>
          <td>4552145</td>
          <td>motor quebrado</td>
          <td>500,00</td>
          <td>troca do motor peça nova....</td>
          <td>
            <button class="btn-editar">Editar</button>
          </td>
          <td>
            <button class="btn-exluir">Excluir</button>
          </td>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>68566 full</td>
          <td>4552145</td>
          <td>motor quebrado</td>
          <td>500,00</td>
          <td>troca do motor peça nova....</td>
          <td>
            <button class="btn-editar">Editar</button>
          </td>
          <td>
            <button class="btn-exluir">Excluir</button>
          </td>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>68566 full</td>
          <td>4552145</td>
          <td>motor quebrado</td>
          <td>500,00</td>
          <td>troca do motor peça nova....</td>
          <td>
            <button class="btn-editar">Editar</button>
          </td>
          <td>
            <button class="btn-exluir">Excluir</button>
          </td>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <script src="../js/home3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>